<div class="container">

  <div class="row">
    <div class="large-3 columns">
      <div style="margin-top: 15%">
        <%= image_tag "logo_sm.png" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-9 push-3 columns" style="margin-top: -5%">
      <h5>Most Frequent Search Queries</h5>
      <table>
        <thead>
          <tr >
            <th width="200">Query Name</th>
            <th>Count</th>
            <th>Last Time Searched</th>
          </tr>
        </thead>

        <tbody >
        <% @search_counts.each do |search| %>
          <tr>
            <td><%= search.query%> </td>
            <td><%= search.count%></td>
            <td><%= search.most_recent.to_time.strftime('%a %b %d %H:%M:%S %Z %Y')%></td>
          </tr>
          <%end%>
        </tbody>

        
      </table>
    </div>
    <div class="large-3 pull-9 columns">
      <ul class="side-nav">
       <li><%= link_to "Most Recent Searches", admins_path %></li>
       <li><%= link_to "Most Frequent Searches", dashboard_index_path %></li>
     </ul>
   </div>
 </div>


</div>


<div class="main">

  <div id="searches-destination"></div>

</div>

<script id="searches-template" type="text/x-handlebars-template">
{{#each searches}}

<p>Query: {{query}} Created at: {{created_at}}</p>


{{/each}}
</script>