    <h2>List of Admins</h2>
    <% @admins.each do |a|%>
    <p><%= a.email%></p>
    <p><%= a.password_digest%></p>
    <%end%>
    <ul>
      <% if !current_admin %>
      <li><%= link_to "Sign Up", new_admin_path %></li>
      <li><%= link_to "Sign In", new_sessions_path %></li>
      <% else %>
      <li><%= link_to "Logout", sessions_path, :method => :delete %></li>
      <% end %>
    </ul>