<div class="container">

<h3>Most Frequent Search Queries</h3>

<table>
  <thead>
    <tr>
      <th width="200">Query Name</th>
      <th>Count:</th>
    </tr>
  </thead>
  <tbody>
    <%= @history_count.each do |key, value| %>
    <tr>
      <td><%= key %></td>
      <td><%= value %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<h3>Most Recent Search Queries</h3>
<table>
  <thead>
    <tr>
      <th width="200">Search Query:</th>
      <th>Date:</th>
      <th>Time:</th>
    </tr>
  </thead>
  <tbody>
    <% for history in @recent_histories %>
    <tr>
      <td><%= history['query'] %></td>
      <td><%= history.created_at.strftime("%d %b. %Y") %></td>
      <td><%= history.created_at.strftime("%H:%M") %></td>
    </tr>
     <%end%>
  </tbody>
</table>

<h2>List of Admins</h2>
<% @admins.each do |a|%>
<p><%= a.email%></p>
<p><%= a.password_digest%></p>
<%end%>
<ul>
  <% if !current_admin %>
  <li><%= link_to "Sign Up", new_admin_path %></li>
  <li><%= link_to "Sign In", new_sessions_path %></li>
  <% else %>
  <li><%= link_to "Logout", sessions_path, :method => :delete %></li>
  <% end %>
</ul>

</div>



<div class="main">

  <div id="searches-destination"></div>

</div>

<script id="searches-template" type="text/x-handlebars-template">
{{#each searches}}

<p>Query: {{query}} Created at: {{created_at}}</p>


{{/each}}
</script>


<script>$(function() { loadSearches(); }); </script>