<h1>Admins#index</h1>


<% @admins.each do |a|%>
<p><%= a.email%></p>
<p><%= a.password_digest%></p>
<%end%>
<ul>
        <% if !current_admin %>
          <li><%= link_to "Sign Up", new_admin_path %></li>
          <li><%= link_to "Sign In", new_sessions_path %></li>
        <% else %>
          <li><%= link_to "Logout", sessions_path, :method => :delete %></li>

        <% end %>
      </ul>

<div>
    <% for history in @histories %>
    <p><%= history['query'] %> was searched at </p>
    <%= history['created_at'] %>
    <%end%>
  </div>


<div class="main">

  <div id="searches-destination"></div>

</div>

<script id="searches-template" type="text/x-handlebars-template">
    {{#each searches}}

    <p>Query: {{query}} Created at: {{created_at}}</p>


    {{/each}}
</script>


<script>$(function() { loadSearches(); }); </script>