<div class="container">   

  <div class="row">
    <div class="large-3 columns">
      <div style="margin-top: 15%">
        <%= image_tag "logo_sm.png" %>
      </div>
    </div>
  </div>

  <div class="row">    
    <div class="large-9 push-3 columns" style="margin-top: -5%">
      <h3>Most Recent Search Queries</h3>
      <table>
        <thead>
          <tr>
            <th width="200">Search Query:</th>
            <th>Date:</th>
            <th>Time:</th>
          </tr>
        </thead>
        <tbody>
          <% for history in @recent_histories %>
          <tr>
            <td><%= history['query'] %></td>
            <td><%= history.created_at.strftime("%d %b. %Y") %></td>
            <td><%= history.created_at.strftime("%H:%M") %></td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>


    <div class="large-3 pull-9 columns">

      <ul class="side-nav">
        <li><%= link_to "Most Recent Searches", admins_path %></li>
        <li><%= link_to "Most Frequent Searches", dashboard_index_path %></li>
      </ul>
    </div>
  </div>

  

  
<div class= "footer">
    <footer class="row">
    <div class="large-12 columns"><hr/>
      <div class="row">
        <div class="large-6 columns">
          <ul class="inline-list center" >
            <li>© MMW</li>
          </ul>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="/searches/new">Ask DMX</a></li>
            <li><a href="#">Analytics Dashboard</a></li>
            <li><a href="https://github.com/malloryreuls/mmw">View GitHub Repo</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  </div>
</div>

  <div class="main">

    <div id="searches-destination"></div>

  </div>

  <script id="searches-template" type="text/x-handlebars-template">
  {{#each searches}}

  <p>Query: {{query}} Created at: {{created_at}}</p>


  {{/each}}
  </script>


  <script>$(function() { loadSearches(); }); </script>