<h1>Mulitmedia Wikipedia</h1>

<%= form_tag searches_path, :method => 'get' do %>
<%= text_field_tag :freeb, params[:freeb] %>
<%= submit_tag "SEARCH", :name => nil %>
<% end %>

<h1><%= @freeb.name%></h1>

<% for image in @images %>
<% @images.each do |image| %>

<img src='<%= "https://usercontent.googleapis.com/freebase/v1/image/#{image}" %>'>
<% end %>

<iframe width="250" height="250" src='<%= "http://www.youtube.com/embed/#{@youtube}" %>' frameborder="0"></iframe>

<%= @youtube %>


</br>

<%= @freeb.description %>
