<h1><%= @query.name%></h1>


<%= render partial: 'form' %>


<div class="row">

  <div class="medium-3 columns">
  <% if @images == nil %>
    <p>Sorry, no images are available for your search</p>
  <% else %>
  	<% for image in @images %>

  	<img src='<%= "https://usercontent.googleapis.com/freebase/v1/image/#{image}" %>'>
    <% end %>
  <% end %>
</div>

  <div class="medium-6 columns"><%= @query.description %></div>
  	<% for youtube in @youtube %>
  <div class="medium-3 columns"><iframe src='<%= "http://www.youtube.com/embed/#{youtube}" %>' frameborder="0"></iframe>
  	<% end %>
  </div>


</div>

