<h1>Mulitmedia Wikipedia</h1>

<%= form_tag searches_path, :method => 'post' do %>
<%= text_field_tag :query, params[:query], class:"small-6 columns" %>
<%= submit_tag "SEARCH", :name => nil, class:"button postfix" %>
<% end %>
<h1><%= @query.name%></h1>

<div class="row">
	<div class="medium-3 columns">
  	<% for image in @images %>
  	<img src='<%= "https://usercontent.googleapis.com/freebase/v1/image/#{image}" %>'>
  <% end %>
</div>
  <div class="medium-6 columns"><%= @query.description %></div>
  	<% for youtube in @youtube %>
  <div class="medium-3 columns"><iframe src='<%= "http://www.youtube.com/embed/#{youtube}" %>' frameborder="0"></iframe>
  	<% end %>
  </div>

</div>