<script type="text/javascript">
function searchBarAppear(keyEvent) {
  var searchbar = document.getElementById("searchbar");

  searchbar.style.display = "block";
  document.getElementById("searchbox").focus();

  if (keyEvent.keyCode == 27) {

   searchbar.style.display = "none";
 } else if (keyEvent.keyCode == 37){
  searchbar.style.display = "none";
}else if (keyEvent.keyCode == 39) {
 searchbar.style.display = "none";
}

}

var videobutton = document.getElementById("videoButton");

function videosAppear(){
   var videos = document.getElementById("videoblock");
 var images = document.getElementById("imageblock");
 images.style.display="none";
  videos.style.display = "block";

}
function imagesAppear(){
   var videos = document.getElementById("videoblock");
 var images = document.getElementById("imageblock");
 images.style.display="block";
  videos.style.display = "none";

}

window.onkeydown = searchBarAppear;
</script>

  <% @bgimage.each do |image| %>

<div id="bgimage" class="container" style="background-image:url('<%=image["unescapedUrl"]%>');">
        <% end %>

<header>
  <div class="logo"></div>
  <h1><%= @query.name.upcase %>
  </h1>

  <%#= form_for @search do |f| %>

  <%#= f.text_field :query, style:"width:230px; float:right; display:inline-block; margin-top:-80px; margin-right:75px; opacity: 0;", placeholder: "Enter Search" %>


  <%#= f.submit "Search", :style => "visibility: hidden"%>

    <%#end%>
</header>


  <div style="display:none" id="searchbar">
    <%= render partial: 'form' %>
  </div>

  <br />

<div class="row">
    <div class="large-12 columns panel" style="text-align: justify; opacity:.94;">
      <article>
        <p "small-block-grid-3"><%= @query.description %></p>
      </aritlce>
    </div>
</div>

  <center><hr width="80%"></center>

<button id="videoButton" onclick="videosAppear()"><strong>VIDEOS</strong> </button>
<button id="imageButton" onclick="imagesAppear()"><strong>IMAGES</strong> </button>

<div class="contentBlock" style="margin:0 auto;"> 
    <div class="row2" id ="imageblock" style = "display: block;">
      <div class="medium-8 medium-centered columns" >
   
   
         <ul class="clearing-thumbs" data-clearing>
           <% @googleimage.each do |image| %>
           <li class="th" ><img src='<%=image["unescapedUrl"]%>'<img data-caption= "<%= image['titleNoFormatting']%>" src="path/to/your/img-th">
             
           </li>
           <% end %>
         </ul>
       </div>
     </div>
   
     <div class="row2" id ="videoblock" style = "display: none;">
       <div class="medium-8 medium-centered columns" style="text-align:center;">
   
         <ul class="clearing-thumbs" data-clearing>
           
           <% for youtube in @youtube %>
           <li class ="th" ><iframe width:"300" src='<%= "http://www.youtube.com/embed/#{youtube}" %>' frameborder="0" allowFullScreen ></iframe></li>
   
           <% end %>
         </ul>
         
       </div>
     </div>
</div>

</div>


