<script type="text/javascript">
function searchBarAppear(keyEvent) {
  var searchbar = document.getElementById("searchbar");

  searchbar.style.display = "block";
  document.getElementById("searchbox").focus();

    if (keyEvent.keyCode == 27) {
     searchbar.style.display = "none";
    } else if (keyEvent.keyCode == 37){
    searchbar.style.display = "none";
    }else if (keyEvent.keyCode == 39) {
     searchbar.style.display = "none";
    }


}

window.onkeydown = searchBarAppear;
</script>

<div class="container">

  <%= image_tag "logo_sm.png", style:"display:inline; float:left; margin-right:-300px;" %>
<header style = "background-color:#F2F2F2; margin-top:-20px; border-bottom: 1px solid lightgrey; margin-bottom:30px;">
  
  <h1 style = "color:black;"><%= @query.name.upcase %>
  </h1>

</header>



  <div style="display:none" id="searchbar">
    <%= render partial: 'form' %>
  </div>

  <div class="row">
    <div class="medium-11 medium-centered columns">
      <ul class="clearing-thumbs" data-clearing>
        <% @googleimage.each do |image| %>
        <li class="th" ><img src='<%=image["unescapedUrl"]%>'<img data-caption= "<%= image['titleNoFormatting']%>" src="path/to/your/img-th">
        <figcaption></figcaption>
        </li>
        <% end %>
      </ul>
    </div>
  </div>

    <center><hr width="80%"></center>
    <br />

  <div class="row">
    <div class="large-12 columns panel" style="text-align: justify">
      <article>
        <p "small-block-grid-3"><%= @query.description %></p>
      </aritlce>
    </div>
  </div>

  <center><hr width="80%"></center>

  <div class="row">
    <div class="medium-11 medium-centered columns">
      <ul class="small-block-grid-3">
        <% for youtube in @youtube %>
        <li><iframe width="250px" src='<%= "http://www.youtube.com/embed/#{youtube}" %>' frameborder="0"></iframe></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class= "footer">
    <footer class="row">
      <div class="large-12 columns"><hr/>
        <div class="row">
          <div class="large-6 columns">
            <ul class="inline-list center" >
              <li>© MMW</li>
            </ul>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="/searches/new">Ask DMX</a></li>
              <li><a href="/admins">Analytics Dashboard</a></li>
              <li><a href="https://github.com/malloryreuls/mmw">View GitHub Repo</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>


