<script type="text/javascript">
function searchBarAppear(keyEvent) {
  var searchbar = document.getElementById("searchbar");

  searchbar.style.display = "block";
  document.getElementById("searchbox").focus();

  if (keyEvent.keyCode == 27) {

   searchbar.style.display = "none";
 } else if (keyEvent.keyCode == 37){
  searchbar.style.display = "none";
}else if (keyEvent.keyCode == 39) {
 searchbar.style.display = "none";
}

}

var videobutton = document.getElementById("videoButton");

function videosAppear(){
   var videos = document.getElementById("videoblock");
 var images = document.getElementById("imageblock");
 images.style.display="none";
  videos.style.display = "block";

}
function imagesAppear(){
   var videos = document.getElementById("videoblock");
 var images = document.getElementById("imageblock");
 images.style.display="block";
  videos.style.display = "none";

}

window.onkeydown = searchBarAppear;
</script>

<div class="container">
  <!-- LOGO IMAGE TOP LEFT -->
  <%= image_tag "logo_sm.png", style:"display:inline; float:left; margin-right:-300px; margin-top:20px;" %>

  <header>
    <h1><%= @query.name.upcase %>
    </h1>
  </header>

  <div style="display:none" id="searchbar">
    <%= render partial: 'form' %>
  </div>

  <br />

  <div class="row">
    <div class="large-12 columns panel" style="text-align: justify">
      <article>
        <p "small-block-grid-3"><%= @query.description %></p>
      </aritlce>
    </div>
  </div>

  <center><hr width="80%"></center>

<button id="videoButton" onclick="videosAppear()">VIDEOS </button>
<button id="imageButton" onclick="imagesAppear()">IMAGES </button>

    <div class="row2" id ="imageblock" style = "display: none;">

    <div class="medium-10 medium-centered columns">

      <ul class="clearing-thumbs" data-clearing>
        <% @googleimage.each do |image| %>
        <li class="th" ><img src='<%=image["unescapedUrl"]%>'<img data-caption= "<%= image['titleNoFormatting']%>" src="path/to/your/img-th">
          
        </li>
        <% end %>
      </ul>
    </div>
  </div>

  <center><hr width="80%"></center>

  <div class="row2" id ="videoblock" style = "display: none;">
    <div class="medium-10 medium-centered columns">

      <ul class="clearing-thumbs" data-clearing>
        
        <% for youtube in @youtube %>
        <li ><iframe width="250px" src='<%= "http://www.youtube.com/embed/#{youtube}" %>' frameborder="0" allowFullScreen></iframe></li>

        <% end %>
      </ul>
    </div>
  </div>

</div>


